<!-- START Off Sidebar (right)-->
<nav>
   <tabset justified="true">
      <tab>
         <tab-heading>
            <em class="icon-equalizer fa-lg"></em>
         </tab-heading>
         <div ng-include="'/Partials/OffsidebarTab1'"></div>
      </tab>
      <tab>
         <tab-heading>
            <em class="icon-users fa-lg"></em>
         </tab-heading>
         <div>
            <div ng-include="'/Partials/OffsidebarTab2'"></div>
         </div>
      </tab>
   </tabset>
</nav>
<!-- END Off Sidebar (right)-->